.container#_About
  .section
    // Icon Section
    .row
      .col.s12.m4
        .icon-block
          h2.center.red-text.text-darken-2
            i.material-icons settings
          h5.center Jane of all trades
          p.light
            | Front-end, Back-end, Fullstack, Support, Sys-admin, and Print-layout are just some of the fields where I worked over the years.
      .col.s12.m4
        .icon-block
          h2.center.red-text.text-darken-2
            i.material-icons language
          h5.center Made in Germany
          p.light
            | German efficiency coupled with British humour and fueled by copious amounts of coffein - a recipe for success!
      .col.s12.m4
        .icon-block
          h2.center.red-text.text-darken-2
            i.material-icons group
            h5.center Stress tested
            p.light
              | Tours of Duty in the war of hospitality around the globe and close quarter combat in the Conflict of Retail formed my ability to peform under duress and work in a team.
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light Big Dogs on Blair, Wellington - Menu redesign 2012
        h5.header.col.s12.light Blend Bar, Wellington - Cook 2011/12
  .parallax
    img(src='img/background2.jpg', alt='Unsplashed background img 2')
