#index-banner.parallax-container
  .section.no-pad-bot
    .container#Intro


        h1.header.center.red-text.text-darken-2 JunkYard

        h5.header.center.red-text.text-darken-2 The omnium-gatherum of a mad (wo)man

        a#download-button.btn-large.waves-effect.waves-light.grey.darken-1(href='#_About') Get To Know me

  .parallax
    img(src='img/background1.jpg', alt='Unsplashed background img 1')
