.nav-placeholder
  nav.white.z-depth-2(role='navigation')#navbar
    .nav-wrapper.container
      a(href='#').brand-logo#logo-container JunkYard
      ul.right.hide-on-med-and-down
        li
          a(href='#_About') Who I am
        li
          a(href='#_Portfolio') What I do
        li
          a(href='#_Contact') How to reach me
      ul.side-nav#nav-mobile
        li
          a(href='#_About') Who I am
        li
          a(href='#_Portfolio') What I do
        li
          a(href='#_Contact') How to reach me
      a(href='#' data-activates='nav-mobile').button-collapse
        .material-icons menu
