.container#_Portfolio
  .section
    .row
      .col.s12.center
        h3.red-text.text-darken-2
          i.material-icons book
        h4 Portfolio
        p.left-align.light
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    .row
      .col.s12.m6.l4
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src="img/background1.jpg")
          .card-content
            span.card-title.activator.grey-text.text-darken-4 JunkYard<i class="material-icons right">more_vert</i>

          .card-reveal
            span.card-title.grey-text.text-darken-4 JunkYard<i class='material-icons right'>close</i>
            p
            | Here is some more information about this product that is only revealed once clicked on.

            h4.card-subtitle Technologies used in this project
            .chips
              .chip
                | jQuery
              .chip
                | pug
              .chip
                | gulp
              .chip
                | SCSS
            .row
              .center
                a.btn-flat.waves-effect.waves-red(href='#_About') see on github

      .col.s12.m6.l4
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src="img/background1.jpg")
          .card-content
            span.card-title.activator.grey-text.text-darken-4 Card Title<i class="material-icons right">more_vert</i>
            p
              a(href="#") This is a link

          .card-reveal
            span.card-title.grey-text.text-darken-4 Card Title<i class='material-icons right'>close</i>
            p
            | Here is some more information about this product that is only revealed once clicked on.

      .col.s12.m6.l4
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src="img/background1.jpg")
          .card-content
            span.card-title.activator.grey-text.text-darken-4 Card Title<i class="material-icons right">more_vert</i>
            p
              a(href="#") This is a link

          .card-reveal
            span.card-title.grey-text.text-darken-4 Card Title<i class='material-icons right'>close</i>
            p
            | Here is some more information about this product that is only revealed once clicked on.

.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light A modern responsive front-end framework based on Material Design
  .parallax
    img(src='img/background3.jpg', alt='Unsplashed background img 3')
