.container#_Portfolio
  .section
    .row
      .col.s12.center
        h3.red-text.text-darken-2
          i.material-icons book
        h4 Portfolio
        p.left-align.light
          | A selection of projects I've been working on since I (re)started to learn webdevelopment with HTML5 and CSS3.
          | There are websites, tools for everyday tasks, snippets from larger projects, and 'trying to figure things out' projects.
          | Due to NDAs and/or the nature of the projects there are no live projects from customers I can share.
    .row
      include projects/junkyard.pug

      include projects/glitch.pug

      .col.s12.m6.l4
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src="img/background1.jpg")
          .card-content
            span.card-title.activator.grey-text.text-darken-4 Card Title<i class="material-icons right">more_vert</i>
            p
              a(href="#") This is a link

          .card-reveal
            span.card-title.grey-text.text-darken-4 Card Title<i class='material-icons right'>close</i>
            p
            | Here is some more information about this product that is only revealed once clicked on.

.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light A modern responsive front-end framework based on Material Design
  .parallax
    img(src='img/background3.jpg', alt='Unsplashed background img 3')
