.col.s12.m6.l4
  .card
    .card-image.waves-effect.waves-block.waves-light
      img.activator(src="img/junkyard.jpg")
    .card-content
      span.card-title.activator.grey-text.text-darken-4 JunkYard<i class="material-icons right">more_vert</i>

    .card-reveal
      span.card-title.grey-text.text-darken-4 JunkYard<i class='material-icons right'>close</i>
      p
      | This very website you are currently reading.

      h4.card-subtitle Technologies used in this project
      .chips
        .chip
          | jQuery
        .chip
          | pug
        .chip
          | gulp
        .chip
          | SCSS
      .row
        .center
          a.btn-flat.waves-effect.waves-red(href='//github.com/zee-german/junkyard') see on github
