#index-banner{
  height: 100vh;

  h1 {
    font-size: 7em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  }

  h5 {
    font-family: $fontBody;
    font-weight: 400;
  }

  a {
    margin-top: 2em;
  }
}

#Intro {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
